<footer>
    <h1>Lorem, ipsum dolor.</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias quaerat quisquam doloribus at? Consequatur
        corrupti culpa ea quia enim, quisquam aspernatur, natus hic minima sed ad cumque tempora, voluptates quibusdam.
        Culpa doloribus, nisi illo, ratione aliquam, sapiente pariatur quas quod temporibus dolorem voluptates. Cum
        facilis deserunt, ea vel eius, perferendis architecto debitis totam, unde excepturi voluptatibus possimus.
        Temporibus minus nulla laboriosam facere quae, quidem cupiditate sunt totam reiciendis quaerat, dolore iste
        vero, modi non! Minus eos officia enim possimus, at nihil repudiandae sit quo omnis ipsum. Totam sit dignissimos
        consequuntur reprehenderit quibusdam aliquam sapiente pariatur, iure, omnis ipsam dolore. Vel.</p>
</footer>